.movieCard {
  align-items: center;
  display: flex;
  height: 90px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  width: 94%;
}

.selected, .movieCard.selected:hover {
  background: #111;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px #000;
  padding: 10px;
}

.movieCard:hover {
  background: #1d1d1d;
  border-radius: 5px;
  cursor: pointer;
}

.movieCard img {
  border-radius: 5px;
  height: 100%;
  margin-right: 20px;
  width: auto;
}

.movieCard p {
  color: #9f9f9f;
  font-size: 0.8rem;
}

h3 {
  font-size: 0.8rem;
  text-transform: uppercase;
  width: 75%;
}

.stars {
  border: 0;
  float: left;
  position: relative;
  width: 76px;
} 

.goldStars{
  border: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
 } 

 .stars img {
   height: auto;
   max-width: 76px;
 }

 .cardContainer {
   width: 100%;
 }

 hr {
  background: #333;
  border: none;
  height: 1px;
  margin-top: 0px;
}

.selected .triangle {
  background-color: #3c4b65;
}

.triangle {
	background-color: #333;
  height: 21px;
  position: absolute;
  right: 15px;
  text-align: left;
}
.triangle:before,
.triangle:after {
	background-color: inherit;
	content: '';
	position: absolute;
}
.triangle,
.triangle:before,
.triangle:after {
	border-top-right-radius: 30%;
	height: 0.7em;
	width:  0.7em;
}

.triangle {
	transform: rotate(30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

@media only screen and (max-width: 1200px) {
  img.thumbImg {
    height: 80%;
  }
}

@media only screen and (max-width: 1000px) {
  .movieCard {
    flex-direction: column;
    height: 195px;
    width: 94%;
  }

  img.thumbImg {
    height: 57%;
    margin: 5px 0 0 0;
  }

  .triangle {
    display: none;
  }

  .movieCard h3 {
    width: 100%;
  }

  .movieCard div {
    text-align: center;
  }

  .stars {
    float: none;
    margin: 0 auto;
    width: 80px;
  }
}

@media only screen and (max-width: 800px) {
img.thumbImg {
  height: 40%;
}

.movieCard {
  width: 88%;
}
}

@media only screen and (max-width: 600px) {
  .movieCard {
    height: 158px;
    width: 85%;
  }
  
  img.thumbImg {
      height: 37%;
      margin: 5px 0 0 0;
  }

  .movieCard h3 {
    width: 90%;
  }
}