.header {
  height: 100px;
  margin: 0 auto 80px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.header a {
  color: #ffffff;
  margin-left: 45px;
  font-size: rem;
  text-decoration: none;
}

nav {
  width: auto;
  display: inline-block;
  margin-top: 95px;
  position: relative;
}

.logo {
  height: 50px;
  margin-top: 60px;
}

.logo:hover {
  cursor: pointer;
}

.favoritesError {
  width: auto;
  background: #333;
  padding: 15px 20px 15px 20px;
  display: inline-block;
  border-radius: 5px 5px 0 0;
  position: absolute;
  top: 35px;
  right: 30px;
  color: #ffba00;
  box-shadow: inset 1px 1px 1px #000;
}

@media only screen and (max-width: 800px) {
.header {
  flex-direction: column;
  height: 100px;
  justify-content: center;
  padding-top: 30px;
}

nav {
  width: 100%;
  margin-top: 45px;
  justify-content: center;
  display: flex;
  position: relative;
}

.logo {
  height: 50px;
  width: 270px;
  margin-top: 60px;
  margin: 0 auto;
  }
}

@media only screen and (max-width: 650px) {
  .favoritesError {
    top: 41px;
    font-size: 0.7rem;
    right: 0;
    padding-left: 27px;
  }
}