.featuredMovie {
  background-size: cover;
  border-radius: 5px;
  height: 385px;
  position: relative;
  text-align: left;
  width: 67%;
}

.favoriteButton {
  align-items: center;
  background-color: #171717;
  border-radius: 0 0 5px 5px;
  display: flex;
  height: 60px;
  justify-content: space-between;
  padding: 0 20px;
  position: absolute;
  right: 30px;
  top: 0;
  width: 115px;
}

.faveIcon {
  background-image: url('./favorite-icon-inactive.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 27px;
  width: 27px;
}

.favorite .faveIcon {
  background-image: url('./favorite-icon-active.png');
}

.favoriteButton p {
    font-size: 0.95rem;
    margin: 0;
    width: 75px;
}

.favoriteButton:hover {
  cursor: pointer;
}

.movieOverview h2 {
  margin-top: 0;
  text-transform: uppercase;
}

.movieOverview {
  background-color: #171717;
  border-radius: 5px 5px 0 0;
  bottom: 0;
  font-size: .8rem;
  height: 95px;
  left: 45px;
  padding: 15px;
  position: absolute;
  width: 270px;
}

.movieOverview p {
  color: #ccc;
  display: block;
  font-size: .75rem;
  height: 58px;
  line-height: 1rem;
  margin-top: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loginRequest {
  background: #333;
  border-radius: 5px 5px 0 0;
  box-shadow: inset 1px 1px 1px #000;
  color: #ffba00;
  display: inline-block;
  padding: 15px 20px 15px 20px;
  position: absolute;
  right: 30px;
  top: -50px;
  width: auto;
}

.movieOverview h2 {
  margin-bottom: 20px;
}

.noFavorites {
  align-content: center;
  background: #111;
  border-radius: 5px 5px 0 0;
  border-radius: 5px;
  box-shadow: inset 1px 1px 1px #000;
  color: #ffba00;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  height: 30px;
  margin-top: 95px;
  padding-top: 25px;
  padding: 15px 20px 15px 20px;
  position: absolute;
  position: relative;
  right: 0;
  top: -50px;
  width: auto;
}

@media only screen and (max-width: 650px) {
  .loginRequest {
    font-size: 0.7rem;
    padding-left: 27px;
    right: 0;
    top: -44px;
  }

  .header a {
    margin: 0;
  }

  nav {
    justify-content: space-around;
  }

  .noFavorites {
    font-size: 0.85rem;
    line-height: 1.6rem;
    padding: 15px 20px 37px 20px;
    top: -51px;
    width: 51%;
  }
}

@media only screen and (max-width: 600px) {
  .movieOverview {
    font-size: .6rem;
    left: 7%;
    width: 76%;
  }

  .movieOverview p {
    font-size: .65rem;
  }

  .favoriteButton {
    right: 18%;
    width: 46%;
  }

  .movieOverview p {
    height: 62px;
  }
}